@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

html, body {
    height: 120%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #fef3c7;
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    height: 10%;
    background-color: #f59e0b;
    font-size: 30px;
    border-bottom: 2px solid black;
}
.header a {transition: all 0.3s ease;}

.header a:hover {
    transform: scale(1.3) rotate(360deg);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-self: center;
}

#game {
    grid-column: 2 / 3;
    margin: 20px;
    display: grid;
    grid-template-columns: 120px 120px 120px;
    grid-template-rows: 120px 120px 120px;
    border: 2px solid black;
    width: fit-content;
    align-items: center;
    justify-items: center;
}

.cell {
    border: 1px solid black;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.cell img {
    width : 75%;
    height : 75%;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 0px black;
}

#player-select {
    grid-column: 1 / 2;
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 30px;
    margin: 20px;
    padding: 15px;
    border: 2px solid black;
}

.player {
    display: flex;
    align-items: center;
    gap: 25px;
}

.player .icon {
    border-radius: 50%;
    transition: all 0.2s ease;
}

.player .icon:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.icon-selected {
    box-shadow: 0px 0px 10px 0px blue;
}